<p>infor31 works!</p>
<div class="container">
    <div class="row justify-content-around">

        <div>
            <h4 class="fas fa-angle-double-right">หลักเกณฑ์การจัดทำงบประมาณ</h4>
            <select name="xx" id="" class="form-control">
                <option title="">เลือกปี</option>
                <option value="">2561</option>
                <option value="">2562 </option>
                <option value="">2563</option>
                <option value="">2564 </option>
            </select>
        </div>

        <div>
            <h4 class="fas fa-angle-double-right">คู่มือการจัดทำงบประมาณ</h4>
            <select name="xx" id="" class="form-control">
                <option title="">เลือกปี</option>
                <option value="">2561</option>
                <option value="">2562 </option>
                <option value="">2563</option>
                <option value="">2564 </option>
            </select>
        </div>

        <div>
            <h4 class="fas fa-angle-double-right">คำสั่งจัดทำงบประมาณ</h4>
            <select name="xx" id="" class="form-control">
                <option title="">เลือกปี</option>
                <option value="">2561</option>
                <option value="">2562 </option>
                <option value="">2563</option>
                <option value="">2564 </option>
            </select>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>