<div style="text-align: center;">
    <h1>ส่วนนโยบายและแผนงานงบประมาณ (ผกง.)</h1>
    <img src='../../../assets/img/ผกง.png' style="width: 100%;
    height: auto;
   max-width:900px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);" />
    <br>
    <div style="text-align: justify;">
        <p>รวบรวมและประมวลผลเพื่อนำเสนอขออนุมัติงบประมาณประจำปีของทุกส่วนงานและภาพรวมของบริษัทรวมทั้งการนำ<br>
            เสนอขออนุมัติงบลงทุนที่จัดทำเป็นโครงการ ตลอดจนการจัดทำและขออนุมัติงบประมาณเพิ่มเติมระหว่างปี
        </p>
    </div>
</div>


<a [routerLink]="['./information1']">information1</a>
<hr width="70.5%" align="left" />
<a [routerLink]="['./about-us-sec1']">about-us-sec1</a>
<hr width="70.5%" align="left" />