<br>
<br>
<div style="text-align: center;">
    <img src='../../../assets/img/ข้อมูลงบการเงิน.PNG' style="width: 100%;
    height: auto;
   max-width:1400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);" />
</div>
<br>
<br>
<div class="row justify-content-center">
    <div class="col-5">
        <div class="ml-3">
            <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s"
                style="background-color: lightgrey; width: 200; height: 50px; animation-delay: 1s;">
                <h5>ข้อมูลที่จัดทำ</h5>
            </div>
        </div>
    </div>

    <div class="col-7">
        <!-- <div class="col-6"> -->
        <!-- <div> -->

            <div class="tabMen" style="background-color:rgb(251, 206,168)">
                <div class="ml-3">
                    <!-- <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"> -->
                    <h3>สรุปกำไรขาดทุนสุทธิปี</h3>
                    <!-- </a> -->
                </div>
                <ul class="submenu">
                    <li>
                        <div class="col-8">
                            <a>
                                <select name="xx" id="" class="dropdown-toggle">

                                    <option title="">เลือกปี</option>
                                    <option value="">ปี 2562</option>
                                    <option value="">ปี 2561</option>
                                    <option value="">ปี 2560</option>
                                    <option value="">ปี 2559</option>
                                </select>
                            </a>
                        </div>
                    </li>
                </ul>

            </div>
            <br>
            <br>


            <div class="tabMen" style="background-color:rgb(173, 217, 229)">
                <!-- <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"> -->
                <div class="ml-3">
                    <h3>งบแสดงฐานะการเงิน ปี2559-2562</h3>
                </div>
                <div class="col-8">
                    <!-- <h5 class="fas fa-angle-double-right"> คำสั่ง</h5> -->
                    <select name="xx" id="" class="dropdown-toggle">

                        <option title="">เลือกปี</option>
                        <option value="">ปี 2562</option>
                        <option value="">ปี 2561</option>
                        <option value="">ปี 2560</option>
                        <option value="">ปี 2559</option>
                    </select>
                </div>
                <!-- </a> -->
            </div>
            <br>
            <br>


            <div class="tabMen" style="background-color:rgb(224,234,203)">
                <a [routerLink]="['/routePath']" routerLinkActive="router-link-active">
                    <div class="ml-3">
                        <h3>อัตราส่วนทางการเงิน</h3>
                    </div>
                </a>
            </div>
            <br>
            <br>
            <!-- 
            <div class="tabMen" style="background-color: rgb(252,213,181)">
                <a [routerLink]="['/routePath']" routerLinkActive="router-link-active">
                    <h3>4 ความรู้ด้านการเงิน</h3>
                </a>

            </div> -->
        <!-- </div> -->
        <!-- </div> -->
    </div>
</div>