.FirstPic {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 290px;
    width: 900px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
}
.responsive {
   
        width: 900px;
        height: auto;
      
  }