<p>about2 works!</p>


<div class="aboutus" style="text-align: center;">
    <h1>เกี่ยวกับเรา</h1>
    <h4 style="color: black;">ส่วนวางแผนการเงิน (วกง.)</h4>
    <hr width="80%" />
    
    <br />
    <br />

    <!-- <div class="row"> -->
        <!-- <div class="column"> -->
            <!-- <div class="FirstPic"> -->
                <img src='../../../assets/img/ส่วน.วกง.png'style="width: 100%;
                height: auto;
               max-width:800px;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);"/>
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</div>