<div class="mt-4">
    <div style="text-align: center;">
        <h1>ส่วนงบประมาณทำการ</h1>
    </div>
</div>
<br>
<div style="text-align: center; border-radius: 10px; box-shadow: black; ">
    <img src='../../../assets/img/ทกง.png' style="width: 100%;
                height: auto;
                max-height: 400px;
               max-width:1440px;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);" />
</div>

<div class="row justify-content-center">
    <div class="col-xs-12">
        <div class="ml-4">
            <div class="mt-4">
                <div style=" max-width: 900px;">
                    <p>บริหารและกำกับดูแลการใช้งบทำการประจำปี ของทุกส่วนงาน
                        และภาพรวมของบริษัทรวมทั้งพิจารณาจัดสรรงบสำรอง/การโอนงบทำการระหว่างส่วนงานต่างๆให้สอดคล้องกับยุทธศาสตร์แผนธุรกิจและแผนปฏิบัติการภายใต้กรอบงบประมาณทำการในภาพรวมของบริษัท
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!-- <div class="single-cap active">
    <h4>ส่วนงบประมาณทำการ</h4>
</div> -->

<div class="row justify-content-sm-center">

    <div class="col-3">

        <div class="rounded-circle" style="background-color: pink; max-width: 250px; max-height: 600px;
        box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);">

            <h2 style="text-align: center;">ศูนย์จัดทำ<br>งบประมาณ<br>ทำการ</h2>
        </div>

    </div>
    <div class="col-5" style="background-color:white;border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);">
        <a [routerLink]="['./info31']">
            <h4>
                <li>หลักเกณฑ์การจัดทำงบประมาณ</li>
            </h4>
            <h4>
                <li>คู่มือการจัดทำงบประมาณ</li>
            </h4>
            <h4>
                <li>คำสั่งจัดทำงบประมาณ</li>
            </h4>
        </a>
    </div>
</div>
<!-- </div> -->
<br>
<hr width="90%" />
<br>
<div class="row justify-content-sm-center">
    <div class="col-3">
        <!-- <div class="p-5"> -->
        <div class="rounded-circle" style="background-color: green; max-width: 250px; max-height: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);">
            <h3 style="text-align: center;">ศูนย์บริหาร<br>งบประมาณ<br>ทำการที่ 1<br>และ 2</h3>
        </div>
        <!-- </div> -->
    </div>

    <div class="col-4" style="background-color: white;border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);">
        <a [routerLink]="['./info32']">
            <h4>
                <li>ความรู้ทั่วไปเกี่ยวกับการใช้งบทำการ </li>
            </h4>
            <h4>
                <li>คำสั่งที่เกี่ยวข้อง</li>
            </h4>
            <h4>
                <li>แบบคำขอดำเนินการด้านงบประมาณ</li>
            </h4>
        </a>
    </div>

</div>
<br>
<hr width="90%" style="height:1px;border-width:0;color:lightgray;background-color:lightgray">
<br>

<div class="row justify-content-center">
    <div class="col-sm-3" style="background-color: white;border-radius: 20px;   
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);">
        <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
            <a [routerLink]="['./info33']">
                <h3>รายงานการใช้งบประมาณ</h3>
            </a>
        </div>
    </div>
</div>

<a [routerLink]="['./about-sec3']">ส่วนงบประมาณทำการ (ทกง.)</a>