<!-- <p>p5 works!</p> -->
<main>
  <div class="main-menu" style="text-align: center; margin-top: 40px; color: darkblue;"></div>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <div style="text-align: center; border-radius: 10px; box-shadow: black; ">
    <img src='../../../assets/img/สกง3.png' style="width: 100%;
  height: auto;
 max-width:1250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);">
  </div>
</main>
<div>
  <!-- <div class="row"> -->
  <div class="line2"></div>
  <h2 style="text-align: center;">แนวคิดเกี่ยวกับการวิเคราะห์ความคุ้มค่า</h2>
  <div class="line2"></div>
  <br>
  <!-- </div> -->
  <div class="w3-show-inline-block">
    <div class="w3-bar" >
      &nbsp;&nbsp;&nbsp;
      <a [routerLink]="['reg5/6']" button class="w3-button w3-teal w3-round-xlarge">การวิเคราะห์โครงการลงทุน</a>
      <div class="line3"></div>
      <p></p>

      <!-- <a [routerLink]="['about5']">แนวคิดเกี่ยวกับการวิเคราะห์ความคุ้มค่า</a><br> -->
      <!-- <a [routerLink]="['./sector5/about5']">about us5</a> -->
      <!-- <hr width="70.5%" align="left"/> -->
      &nbsp;&nbsp;&nbsp;
      <a [routerLink]="['reg5/6']" button class="w3-button w3-teal w3-round-xlarge">การวิเคราะห์แผนงานลงทุน</a>
    </div>
  </div>
  <!-- <hr width="70.5%" align="left"/> -->
  <!-- <a [routerLink]="['contact-sector5']">ติดต่อเรา สกง.</a><br> -->
  <!-- <hr width="70.5%" align="left"/> -->