.HOT {
  position: absolute;
  content: "HOT";
  background: #ff003c;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  font-size: 10px;
  padding: 2px 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  width: 17%;
  height: 4%;
}

.topic {
  color: blue;
  font-family: "kanit";
  text-align: center;
  margin-top: 40px;
}
