
<div class="container">
    <h2 style="margin-top: 40px; margin-bottom: 20px">การจัดทำงบประมาณ</h2>
    <div class="row">
        <div class="col-4">
            
            <h5 class="fas fa-angle-double-right"> คำสั่ง</h5>
            <select name="xx" id="" class="form-control">
                
                <option title="">เลือกปี</option>
                <option value="">ปี 2564</option>
                <option value="">ปี 2563</option>
                <option value="">ปี 2562</option>
            </select>
        </div>


        <div class="col-4">
            <h5 class="fas fa-angle-double-right"> คู่มือ</h5>
            <select name="xx" id="" class="form-control">
                <option title="">เลือกปี</option>
                <option value="">ปี 2564</option>
                <option value="">ปี 2563</option>
                <option value="">ปี 2562</option>
            </select>

            <!-- 
                    <div class="column">
                        <div class="l1"></div>
                        <h5>ปี 2562</h5>
                        <div class="l1"></div>
                        <h5>ปี 2563</h5>
                        <div class="l1"></div>
                        <h5>ปี 2564</h5>
                    </div> -->
        </div>

        <div class="col-4">
            <h5 class="fas fa-angle-double-right"> หลักเกณฑ์ส่วนกลางงาน</h5>
            <select name="xx" id="" class="form-control">
                <option title="">เลือกปี</option>
                <option value="">ปี 2564</option>
                <option value="">ปี 2563</option>
                <option value="">ปี 2562</option>
            </select>
            <!-- <div class="l1"></div>
                <h5>ปี 2562</h5>
                <div class="l1"></div>
                <h5>ปี 2563</h5>
                <div class="l1"></div>
                <h5>ปี 2564</h5> -->
        </div>


    </div>

</div>



<div class="container">
    <h2 style=" margin-top: 40px; margin-bottom: 20px">งบลงทุนที่ทำโครงการ</h2>
    <!-- <div class="row"> -->
        <!-- <h5>หลักเกณฑ์และวิธีการปฏิบัติเกี่ยวกับ</h5> -->
        <li>หลักเกณฑ์และวิธีการปฏิบัติเกี่ยวกับ
            งบลงทุนของรัฐวิสาหกิจ พ.ศ.2555
            (นันทึกที่ นร.1115/ว0099 ลว.9 ม.ค.55)
            </li>
            <li>พระราชบัญญัติสภาพัฒนาการ
                เศรษฐกิจและสังคมแห่งชาติ พ.ศ.2561
                </li>
            <li>การจัดทำงบประมาณประจำปีของรัฐวิสาหกิจ ประเภทบริษัทมหาชนจำกัด และบริษัทในเครือของรัฐวิสาหกิจ ประเภทบริษัทจำกัดหรือบริษัทมหาชนจำกัด
                (บันทึก นร.1115/ว896  ลว.12 ก.พ.62)
                </li>
            <li>คำสั่ง รบ.55/2546 เรื่อง มอบอำนาจ
                ให้ผู้บริหารปฏิบัติการแทนกรรมการผู้จัดการใหญ่ (ข้อ 3.2.3) (ฉบับประมวลครั้งที่ 35 ลงวันที่ 16 พ.ย.61)
                </li>
        <!-- <select name="" id="" class="form-control">
            <option title="">เลือก</option>
            <option value="">งบลงทุนของรัฐวิสาหกิจ พ.ศ.2555
                (นันทึกที่ นร.1115/ว0099 ลว.9 ม.ค.55)</option>
            <option value="">พระราชบัญญัติสภาพัฒนาการ
                เศรษฐกิจและสังคมแห่งชาติ พ.ศ.2561
                </option>
            <option value="">การจัดทำงบประมาณประจำปีของรัฐวิสาหกิจ ประเภทบริษัทมหาชนจำกัด และบริษัทในเครือของรัฐวิสาหกิจ ประเภทบริษัทจำกัดหรือบริษัทมหาชนจำกัด
                (บันทึก นร.1115/ว896  ลว.12 ก.พ.62)</option>
            <option value="">คำสั่ง รบ.55/2546 เรื่อง มอบอำนาจ
                ให้ผู้บริหารปฏิบัติการแทนกรรมการผู้จัดการใหญ่ (ข้อ 3.2.3) (ฉบับประมวลครั้งที่ 35 ลงวันที่ 16 พ.ย.61)
                </option>
        </select>  -->
        
        <!-- <div class="col-4"> -->
            <!-- <div style="background-color : black;" class="txt_content 4 white txtdetail">wfegrtbrtpltrpb,trp,qeovmqervcmirqefuwenqfreq,goerjive,wvo0trhir,refo,iqwemf-aslf0qwoektreo-h.repgero0erfju9whfywegfwegfwef8yubweufndwe9ufh9uwejgfwe0of,okgtiq430i </div> -->


        <!-- </div> -->
        

        
    <!-- </div> -->

</div>



<div class="container">
        <h2 style="margin-top: 40px; margin-bottom: 20px">เงิน โอที ทดรองจ่าย</h2>
        <h4>คำสั่ง</h4>
        <li>รง.5/2558 เรื่องการเงินการบัญชีและการงบประมาณ (ฉบับประมวลครั้งที่ 1 ลว.19 พ.ค.59)</li>
        <li>รค.8/2547 เรื่องความรับผิดทางแพ่ง </li>
        <div class="row">
            

        </div>
    </div>


<!-- 
    <div class="container">
        <h2 style="margin-left: 100px; margin-top: 40px; margin-bottom: 20px">เงิน โอที ทดรองจ่าย</h2>
        <h4>คำสั่ง</h4>
        <select name="xx" id="" class="form-control">
            <option title="hj">เลือกปี</option>
            <option value="">ปี 2564</option>
            <option value="">ปี 2563</option>
            <option value="">ปี 2562</option>
        </select> 
        <li>รง.5/2558 เรื่องการเงินการบัญชีและการงบประมาณ (ฉบับประมวลครั้งที่ 1 ลว.19 พ.ค.59)</li>
        <li>รค.8/2547 เรื่องความรับผิดทางแพ่ง </li>
        <div class="row">
            
             <i class="fas fa-angle-double-right"></i>
        </div>
    </div> -->