

<div style="text-align: center;">
    <div class="eachHeader">
        <h3>ส่วนงบประมาณการลงทุน (ลกง.)</h3>

    </div>
    <div class="image">
        <img src='../../../assets/img/ลกง2.png'
            height="400" width="800" />
    </div>
    <div class="paraphrase">
        <p>บริหารและกำกับดูแลการใช้งบลงทุนประจำปี ของทุกส่วนงาน และภาพรวมของบริษัท
            รวมทั้งการพิจารณาจัดสรรงบสำรอง<br>
            /การเปลี่ยนแปลงงบลงทุนของทุกส่วนงานภายในบริษัท ให้สอดคล้องกับยุทธศาสตร์ แผนธุรกิจ
            และแผนปฏิบัติการภายใต้<br>
            กรอบงบประมาณลงทุนในภาพรวมของบริษัท
        </p>
    </div>
</div>
<a [routerLink]="['./about4']">ส่วนงบประมาณการลงทุน (ลกง.)</a>
<!-- <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"  -->