.im{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
    height:300;
    width:800;
    margin-bottom: 50px;
    margin-top: 40px;
    /* text-align: center; */
}
.tabMen{
    /* padding-right: 20px; */
    width: 100%;
    height: auto;
   max-width:1000px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
    /* padding-left: 20px; */
    /* border-bottom-right-radius: 50px;  */
    /* margin-left: 30px   ; */
    /* background-color: aqua; */
}
.v1{
    border: 0.5px solid rgb(229, 229, 229);
    height: 120 px;
    width: 3px;
    background-color: darkblue;
   
    
    /* position: static; */
    /* margin-left: 20px; */
}
