<div style="text-align: center; border-radius: 10px; box-shadow: black; ">
    <img src='../../../assets/img/วกง.png' style="width: 100%;
    height: auto;
   max-width:1450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);">
</div>
<br>
<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="ml-3">
            <div class="col-sm-4">
                <!-- <div style="margin-left:150px;"> -->
                    
                <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                    <div class="tabMen" style="background-color:rgb(230, 185,184)">
                        <a [routerLink]="['./routePath']">1 ข้อมูลงบการเงินปี 2559-2562</a>
                        <!-- <a [routerLink]="['/routePath']" routerLinkActive="router-link-active">
                        <h4>1 ข้อมูลงบการเงินปี 2559-2562</h4>
                    </a> -->
                    </div>
                </div>

                <br>
                <br>
                
                <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                    <div class="tabMen" style="background-color:rgb(198, 217, 241)">
                        <a [routerLink]="['./metricsec2']">2 ตัวชี้วัดองค์กร ปี 2562 (สคร.)</a>
                        <!-- <a [routerLink]="['./metricsec2']" routerLinkActive="router-link-active">
                        <h4>2 ตัวชี้วัดองค์กร ปี 2562 (สคร.)</h4>
                    </a> -->
                    </div>
                </div>
                <br>
                <br>
                
                <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                    <div class="tabMen" style="background-color:rgb(215,228,189)">
                        <a [routerLink]="['./reportsec2']">3 รายงานและวิเคราะห์ผลการดำเนินงาน</a>
                        <!-- <a [routerLink]="['./reportsec2']" routerLinkActive="router-link-active">
                        <h4>3 รายงานและวิเคราะห์ผลการดำเนินงาน</h4>
                    </a> -->
                    </div>
                </div>
                <br>
                <br>
                
                <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                    <div class="tabMen" style="background-color: rgb(252,213,181)">
                        <a [routerLink]="['./routePath']">4 ความรู้ด้านการเงิน</a>
                        <!-- <a [routerLink]="['/routePath']" routerLinkActive="router-link-active">
                        <h4>4 ความรู้ด้านการเงิน</h4>
                    </a> -->
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6">
            <!-- <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"> -->
            <!-- <div class="col" > -->
            <div class="row">

                <div class="col">
                    <h5>ผส.วกง.</h5>
                    <h5>พัชรี วิรุฬห์สุนทรกุล</h5>
                    <h5>โทร. 0 2505 4758</h5>
                    <h5>E-mail : patchav@tot.co.th</h5>
                </div>
                <div class="col">
                    <div style="height: auto;
                    max-height: 140px;
                   max-width:140px;">
                        <img src='../../../assets/img/ผส.วกง.png' style="width: 100%;
                height: auto;
                max-height: 140px;
               max-width:140px;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);">
                    </div>

                </div>

            </div>
            <!-- </div> -->
        </div>

    </div>
</div>
<!-- </a> -->



<a [routerLink]="['about2']">ส่วนวางแผนการเงิน (วกง.)</a><br>
<a [routerLink]="['inforsec2']">ส่วนวางแผนการเงิน (วกง.)</a>

<!-- <nav>
<ul class="submenu">
    <li>
        <a href="about2/about2.component.html">dwqdqwdwqweghwerg</a>
    </li>
    <li>
        <a href="inforsec2/inforsec2.component.html">ylioloil;iou;io;oi</a>
    </li>
</ul>
</nav> -->



<!-- <div class="" -->