.box2{
    
    max-width:350px;
    height: auto;
    max-height: 150px;
background: linear-gradient(to bottom left,rgb(74, 95, 36) , rgb(197, 224, 151));
display: flex;
align-items: center;
text-align:center;
border-radius: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
margin-bottom: 50px;

}

.box3{

    width: 420px;
    height: 150px;
background: linear-gradient(to bottom left,rgb(221, 115, 16) , rgb(224, 186, 151));
display: flex;
align-items: center;
text-align:center;
border-radius: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
margin-bottom: 50px;


}