<div style="text-align: center; border-radius: 10px; box-shadow: black; ">
    <img src='../../../assets/img/ตัวชี้วัดองค์กร.PNG' style="width: 100%;
    height: auto;
   max-width:1500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);" />
</div>
<br>
<br>

<div class="row justify-content-around">
    <div class="col-xs-6" style="margin-top: 30px; ">
        <div style=" width: 200px; height: 300px;border: 5px solid skyblue;">
            <h5>หลักการการประเมินผลการดำเนินงานรัฐวิสาหกิจ..........<br>........................<br>
                ........................<br>........................</h5>
        </div>
    </div>

    <div class="col-xs-6">
        <div>
            <div>
                <a [routerLink]="['/routePath']" routerLinkActive="router-link-active">
                    <div class="box2">
                        <h5>บันทึกข้อตกลงการประเมินผลการดำเนินงานรัฐวิสาหกิจ ประจำปีบัญชี 2562</h5>
                    </div>
                </a>
            </div>

            <div class="box3">
                <div class="ml-3">
                    <h5>รายงานผลการดำเนินงานตามบันทึกข้อตกลง</h5>
                    <div class="col-6">
                        <select name="xx" id="" class="form-control">
                            <!-- <option title=""></option> -->
                            <option value="">ม.ค. – มิ.ย. 2562</option>
                            <option value="">ม.ค. – ธ.ค. 2562 </option>
                            <!-- <option value="">ปี 2562</option> -->
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>