/* .dan {
    text-align: center;
    background-color: crimson;
    margin: 0pt;
} */

.aboutus {
    color:darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif0;
    text-align: center;
    margin-top: 40px;
}

.box-dan{
    /* text-align:left; */
    /* margin-left:60px; */
    padding-top: 20;
    /* background-color: aqua; */

}

.FirstPic {
    
    /* margin-left: 200px; */
    width: 60%;
    height: auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
 

    

}
.responsive {
    width: 100%;
    max-width: 800 px;
    height: auto;
  }

.Bottom-dan{
    /* margin-left: 15%;  */
   margin-bottom: 30px;
    text-align: justify;
width: 50%;
}

.detail{
/* margin-left: 215px; */
/* margin-bottom: 50px; */
/* margin-top: 50px; */
/* text-shadow: darkgoldenrod; */
text-align: justify;
width: 100%;
/* box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19); */

}

.v1{
    border: 0.5px solid rgb(229, 229, 229);
    height: 120 px;
    
    /* position: static; */
    margin-left: 20px;
}

