<div class="section">
    <hr width="100%" />
    <h1 style="color: blue;">ส่วนงาน</h1>
    <h4>ส่วนงานในฝ่ายการเงิน</h4>

</div>
<hr width="80%" />
<br />
<div class="container">
    <div class="row justify-content-center">


        <div class="col-6">
            <!-- <div class="subHeader"> -->

            <h3 style="margin-bottom: 20px;">ส่วนงานภายในการเงิน</h3>

            <div>
                <img src='../../../assets/img/กง.png' style="width: 100%;
                height: auto;
               max-width:1000px;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);" />
            </div>

            <!-- </div> -->
        </div>


        <div class="ml-3">
            <div class="col-10">
                <!-- <div class="tabMenu"> -->
                <h3>ส่วนงาน</h3>
                <hr color="blue" width="35%" align="left" />
                <a (click)="navigate('sector1','sector1')" href="javascript:void(0)">ส่วนนโยบายและแผนงานงบประมาณ (ผกง.)</a>
                <!-- <a (click)="navigate('sector','sector1')" [routerLink]="['/sector','sector1']">ส่วนนโยบายและแผนงานงบประมาณ (ผกง.)</a> -->
                <hr width="85.5%" align="left" />
                <!-- <a (click)="navigate('sector2','2')" [routerLink]="['sector2']">ส่วนวางแผนการเงิน (วกง.)</a> -->
                <a (click)="navigate('sector2','sector2')" href="javascript:void(0)">ส่วนวางแผนการเงิน (วกง.)</a>
                <hr width="85.5%" align="left" />
                <a [routerLink]="['sector3']">ส่วนงบประมาณทำการ (ทกง.)</a>
                <hr width="85.5%" align="left" />
                <a [routerLink]="['sector4']">ส่วนงบประมาณการลงทุน (ลกง.)</a>
                <hr width="85.5%" align="left" />
                <a [routerLink]="['sector5']">ส่วนสอบทาน ติดตามแผนงานและโครงการ (สกง.)</a>
                <hr width="85.5%" align="left" />


                <!-- </div> -->
            </div>
        </div>
        <!-- </div> -->
    </div>
<br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <div class="box-dann">
                    <h5>ประกอบไปด้วย</h5>
                    <h6>· ส่วนนโยบายและแผนงานงบประมาณ (ผกง.)</h6>
                    <h6>· ส่วนวางแผนการเงิน (วกง.)</h6>
                    <h6>· ส่วนงบประมาณทำการ (ทกง.)</h6>
                    <h6>· ส่วนงบประมาณการลงทุน (ลกง.)</h6>
                    <h6>· ส่วนสอบทาน ติดตามแผนงานและโครงการ (สกง.)</h6>
                </div>
            </div>
        </div>
    </div>

    <br>

    <!-- </div> -->

    <hr width="80%" />

    <!-- <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <img src="https://i.pinimg.com/originals/3b/fb/2f/3bfb2fb771dee61b272f310140e85d09.jpg" style="width: 400px; height: 400px;">
          </div>
          <div class="col-4">
            <img src="https://i.pinimg.com/originals/3b/fb/2f/3bfb2fb771dee61b272f310140e85d09.jpg" style="width: 400px; height: 400px;">
          </div>
        </div>
    </div> -->



    <div class="ผกง">
        <div class="eachHeader">
            <a [routerLink]="['sector1']">
                <h3>ส่วนนโยบายและแผนงานงบประมาณ (ผกง.)</h3>
            </a>
        </div>
        <div class="image">
            <!-- <img src="../../../assets/img/ผกง.png" width="400" height="800" (click)="ImageClick()">  -->
            <!-- <a [routerLink]="['sector1']">ส่วนนโยบายและแผนงานงบประมาณ (ผกง.)</a> -->
            <a [routerLink]="['sector1']">
                <img src='../../../assets/img/ผกง.png' style="width: 100%;
                height: auto;
               max-width:1000px;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);" />
            </a>
        </div>
        <div class="paraphrase">
            <p>รวบรวมและประมวลผลเพื่อนำเสนอขออนุมัติงบประมาณประจำปี ของทุกส่วนงาน และภาพรวมของบริษัท รวมทั้งการนำ<br>
                เสนอขออนุมัติงบลงทุนที่จัดทำเป็นโครงการ ตลอดจนการจัดทำและขออนุมัติงบประมาณเพิ่มเติมระหว่างปี
            </p>
        </div>
    </div>

    <hr width="80%" />

    <div class="วกง">
        <div class="eachHeader">
            <a [routerLink]="['sector2']">
                <h3>ส่วนวางแผนการเงิน (วกง.)</h3>
            </a>
        </div>
        <div class="image">
            <a [routerLink]="['sector2']">
                <img src='../../../assets/img/วกง2.png'style="width: 100%;
                height: auto;
               max-width:1000px;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);"  />
            </a>
        </div>
        <div class="paraphrase">
            <p>จัดทำแผนปฏิบัติการเกี่ยวกับการวางแผนการเงินรวมของบริษัท แผนบริหาร
                ความเสี่ยงทางการเงินและรายงานทางการเงิน<br>ต่างๆ ตลอดจนการจัด
                ทำตัวชี้วัดทางการเงินของบริษัทตามระบบประเมินผลรัฐวิสาหกิจ
            </p>
        </div>
    </div>

    <hr width="80%" />

    <div class="ทกง">
        <div class="eachHeader">
            <a [routerLink]="['sector3']">
                <h3>ส่วนงบประมาณทำการ (ทกง.)</h3>
            </a>
        </div>
        <div class="image">
            <a [routerLink]="['sector3']">
                <img [routerLink]="['sector3']" src='../../../assets/img/ทกง.png'style="width: 100%;
                height: auto;
               max-width:1000px;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);"  />
            </a>
        </div>
        <div class="paraphrase">
            <p>บริหารและกำกับดูแลการใช้งบทำการประจำปี ของทุกส่วนงาน และภาพรวมของบริษัทรวมทั้งพิจารณาจัดสรรงบสำรอง/<br>
                การโอนงบทำการระหว่างส่วนงานต่างๆ ให้สอดคล้องกับยุทธศาสตร์ แผนธุรกิจ
                และแผนปฏิบัติการภายใต้กรอบงบประมาณ<br>
                ทำการ ในภาพรวมของบริษัท</p>
        </div>
    </div>


    <hr width="80%" />



    <div class="ลกง">
        <div class="eachHeader">
            <a [routerLink]="['sector4']">
                <h3>ส่วนงบประมาณการลงทุน (ลกง.)</h3>
            </a>
        </div>
        <div class="image">
            <a [routerLink]="['sector4']">
                <img src='../../../assets/img/ลกง2.png' style="width: 100%;
                height: auto;
               max-width:1000px;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);"  />
            </a>
        </div>
        <div class="paraphrase">
            <p>บริหารและกำกับดูแลการใช้งบลงทุนประจำปี ของทุกส่วนงาน และภาพรวมของบริษัท
                รวมทั้งการพิจารณาจัดสรรงบสำรอง<br>
                /การเปลี่ยนแปลงงบลงทุนของทุกส่วนงานภายในบริษัท ให้สอดคล้องกับยุทธศาสตร์ แผนธุรกิจ
                และแผนปฏิบัติการภายใต้<br>
                กรอบงบประมาณลงทุนในภาพรวมของบริษัท
            </p>
        </div>
    </div>



    <hr width="80%" />



    <div class="สกง">
        <div class="eachHeader">
            <a [routerLink]="['sector4']">
                <h3>ส่วนสอบทาน ติดตามแผนงานและโครงการ (สกง.)</h3>
            </a>
        </div>
        <div class="image">
            <a [routerLink]="['sector5']">
                <img src='../../../assets/img/สกง2.png' style="width: 100%;
                height: auto;
               max-width:1000px;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);"  />
            </a>
        </div>
        <div class="paraphrase">
            <p>
                สอบทานการวิเคราะห์ความคุ้มค่าทางการเงินของแผนงานและโครงการต่างๆ เพื่อประกอบการพิจารณาด้านงบประมาณและ<br>
                นำเสนอผู้บริหารเพื่อประกอบการตัดสินใจ รวมถึงวิเคราะห์
                ประเมินทางเลือกให้ความเห็นประเด็นที่เกี่ยวข้องด้านการเงินและ<br>
                กำหนดหลักเกณฑ์แนวทางการวิเคราะห์ความคุ้มค่าการลงทุน การติดตามและประเมินผลการดำเนินงานทางการเงิน
                เพื่อให้<br>
                ส่วนงานต่างๆ นำไปปฏิบัติให้เป็นแนวทางเดียวกัน
            </p>
        </div>
        <hr width="80%" />
    </div>