<!-- <p>about5 works!</p> -->
<div class="aboutus" style="text-align: center;">
    <h1>โครงสร้าง</h1>
    <h4 style="color: black;">ส่วนสอบทาน ติดตามแผนงานและโครงการ (สกง.)</h4>
    <hr width="80%" />

    <br />
    <br />

    <!-- <div class="row"> -->
        <!-- <div class="column"> -->
            <!-- <div class="FirstPic"> -->
                <img src='../../../assets/img/ส่วน.สกง.png'alt="Nature" class="responsive" />
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</div>
