<p>about5 works!</p>
<div class="pic">
<img src='../../../assets/img/ส่วน.ลกง.png' alt="Nature" class="responsive" >
</div>
<!-- 
<div style="background-color: aqua; border-radius: 10px; width: 500px; height: 200px; text-align: center;">
<p>สอบทานการวิเคราะห์ความคุ้มค่าทางการเงินของแผนงานและโครงการต่างๆ เพื่อประกอบการพิจารณาด้านงบประมาณและ<br>
    นำเสนอผู้บริหารเพื่อประกอบการตัดสินใจ รวมถึงวิเคราะห์
    ประเมินทางเลือกให้ความเห็นประเด็นที่เกี่ยวข้องด้านการเงินและ<br>
    กำหนดหลักเกณฑ์แนวทางการวิเคราะห์ความคุ้มค่าการลงทุน การติดตามและประเมินผลการดำเนินงานทางการเงิน
    เพื่อให้<br>
    ส่วนงานต่างๆ นำไปปฏิบัติให้เป็นแนวทางเดียวกัน</p>
</div> -->