


    <div class="aboutus" >
        <h1>เกี่ยวกับเรา</h1>
        <h4 style="color: black;">รู้จักฝ่ายการเงิน</h4>
        <hr width="80%" />
      </div>
      <br />
      <br />
    
      <div class="row">
        <div class="column">
          <div class="FirstPic">
            <img
              src='../../../assets/img/แผนผังฝ่าย.png'
              height="450"
              width="900"
            />
          </div>
        </div>
    
        <div class="column">
          <div class="box">
            <h3>เกี่ยวกับเรา</h3>
            <hr color="blue" width="30%" align="left" />
            <div>
              <a [routerLink]="['']">ฝ่ายการเงิน</a>
            </div>
            <hr width="205%" align="left" />
            <div>
              <a [routerLink]="['/about-us/structure']">โครงสร้างการจัดการ</a>
            </div>
            <hr width="205%" align="left" />
           
          </div>
        </div>
      </div>
      <hr width="80%">
      <img src="">
      <img src="">
      <img src="">
      <img src="">
      



