<div class="h1">
    <h1>ส่วนสอบทานติดตามแผนงานและโครงการ : (สกง.)</h1>
    <h5>โครงสร้างส่วนงาน</h5>
</div>
<div class="pic">
    <img src="../../../assets/img/สกง2.png" style="width: 100%;
    height: auto;
   max-width:1000px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);">
</div>
<br>
<br>

<div class="row">
    <div class="col">
        <div class="g1">
            <div class="ml-4">
            <h1>ภารกิจ</h1>
        
        
            <h1>ขอบเขต "หน้าที่" และ</h1>
            <h1>ความรับผิดชอบ</h1>
        </div>
        </div>
        <div class="line1"></div>
    </div>
        <div class="col">
            <h4 style="background-color: seashell; text-align: center; width: 100%;
            height: auto;
           max-width:500px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);">สายตรงผู้บริหาร</h4>
        <div class="col">
            <div class="row">
                <img style="width: 100px; height: 100px; margin-left: 20px;"
                    src="../../../assets/img/อภิวัฒน์.png">
                <div class="column">
                    <div class=" apiwatdip">
                        <h6 style="text-align: center;">อภิวัฒน์ จินตนะพัฒน์</h6>
                        <h6 style="text-align: center;">ผู้จัดการส่วน สกง.</h6>
                    </div>
                </div>
            </div>
        </div>
            <div style="background-color: seashell; text-align: center; width: 100%;
            height: auto;
           max-width:500px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);">
                <h6>โทรศัพท์ 02-5054729, 02-574-9816 </h6>
                <h6>Email:Apivatj@tot.co.th</h6>
            </div>
        </div>
    
</div>
<!-- <p></p>
    <hr style="height:30px; background-color: green;"> -->



    <!-- <div class="g2">
        <h1>ขอบเขต "หน้าที่" และ</h1>
        <h1>ความรับผิดชอบ</h1>
    </div> -->

<div>
    <div style="text-align: center;">
        <div class="text1">
            <div class="ml-4">
            <p>ส่วนสอบทานติดตามแผนงานและโครงการ(สกง.)มีหน้าที่และความรับผิดชอบในการประเมินและวิเคราะห์แผนงานหรือโครงการต่างๆ
                ภายในบริษัท ทีโอที จำกัด(มหาชน)
                โดยใช้แบบจำลองและหลักการวิเคราะห์ทางด้านการเงิน ผนวกรวมกับมุมมองและแนวคิด ของฝ่ายการเงิน
                ต่อแผนงานหรือโครงการต่างๆ นอกจากนี้ สกง. จะต้องติดตามและประเมินผล แผนงานหรือโครงการต่างๆที่ได้รับมอบหมาย
                เพื่อให้ แผนงานและโครงการนั้นๆดำเนินไปตาม แผนธุรกิจที่ได้วางไว้ เพื่อรักษาผลประโยชน์สูงสุดให้กับ บริษัท
                ทีโอที จำกัด(มหาชน)
            </p>
        </div>
        </div>
    </div>
</div>

<!-- <div>
    <h4>สายตรงผู้บริหาร</h4>
    <h6>อภิวัฒน์ จินตนะพัฒน์</h6>
    <h6>ผู้จัดการส่วน สกง.</h6>

    <h6>โทรศัพท์ 02-5054729, 02-574-9816

    </h6>

    <h6>Email:Apivatj@tot.co.th

    </h6>
</div> -->
<div>
    <div class="row">
        <div class="line2"></div>
        <h5>ข้อมูลสำคัญจาก สกง.</h5>
        <div class="line2"></div>
    </div>

    <a [routerLink]="['']">รายละเอียด</a>




    <div class="line3"></div>
</div>
<a [routerLink]="['about5']">ส่วนงบประมาณทำการ (ทกง.)</a><br>
<!-- <a [routerLink]="['./sector5/about5']">about us5</a> -->
<!-- <hr width="70.5%" align="left"/> -->
<a [routerLink]="['reg5']">reg5</a><br>
<!-- <hr width="70.5%" align="left"/> -->
<a [routerLink]="['contact-sector5']">ติดต่อเรา สกง.</a><br>
<!-- <hr width="70.5%" align="left"/> -->