<div class="container">
    <div class="mt-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <div>
                    <h4 class="fas fa-angle-double-right">&nbsp;ความรู้ทั่วไปเกี่ยวกับการใช้งบทำการ</h4>
                </div>

                <div>
                    <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                        <p>งบประมาณทำการ</p>
                    </div>
                </div>
                <div>
                    <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                        <p>การโอนเพิ่ม-ลด งบประมาณทำการ</p>
                    </div>
                </div>
                <div>
                    <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                        <p>การขอจัดสรรงบสำรองทำการ </p>
                    </div>
                </div>
                <div>
                    <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                        <p>งบต่างปี</p>
                    </div>
                </div>
                <div>
                    <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                        <p>พัสดุจัดซื้อเข้าคลัง</p>
                    </div>
                </div>

            </div>
        </div>
        <br><br>

        <div class="row justify-content-center">
            <div class="col-6">
                <div>
                    <h4 class="fas fa-angle-double-right">&nbsp;คำสั่งที่เกี่ยวข้อง
                    </h4>
                </div>

                <div>
                    <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                        <p>คำสั่งสายงานการเงินที่ 1/2549
                        </p>
                    </div>
                </div>
                <div>
                    <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                        <p>คำสั่งบริษัท ทีโอที จำกัด (มหาชน) ที่ รบ./55/2546
                        </p>
                    </div>
                </div>
                <div>
                    <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                        <p>คำสั่งบริษัท ทีโอที จำกัด (มหาชน) ที่ รส./3/2550
                        </p>
                    </div>
                </div>
                <div>
                    <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                        <p>บันทึกเลขที่ ทีโอที รง./42 ลว. 11 มี.ค. 2562
                        </p>
                    </div>
                </div>
                <div>
                    <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                        <p>บันทึกเลขที่ ทีโอที บง./68 ลว. 22 เม.ย. 2562
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <br><br>


        <div class="row justify-content-center">
            <div class="col-6">
                <div>
                    <h4 class="fas fa-angle-double-right">&nbsp;แบบคำขอดำเนินการด้านงบประมาณ
                    </h4>
                </div>

                <div>
                    <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                        <p>แบบขอดำเนินการด้านงบประมาณ
                        </p>
                    </div>
                </div>
                <div>
                    <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                        <p>BCF09/1
                        </p>
                    </div>
                </div>
                <div>
                    <div class="btn hero-btn" data-animation="fadeInright" data-delay="1s">
                        <p>BCF17/1
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>