<p>contact-sector5 works!</p>
<div>
    <div class="topPic">
        <img src="https://www.thaitradeshop.com/pub/media/wysiwyg/static-page/contact-banner.jpg" style="width: 100%;
        height: auto;
       max-width:1000px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);">
    </div>

    <div class="row justify-content-center" style="margin-bottom: 40px;">
        <div class="container1">
            <div class="detail1">
                <h1>ศูนย์. 1</h1>
                <p>ส่วนสอบทานติดตามแผนงานและโครงการ(สกง.)</p>
                <div class="box">
                    <h5><b>&nbsp;&nbsp; รายชื่อติดต่อ :</b></h5>
                    <p>&nbsp; กันติชา เพชราภรณ์</p>
                    <p>&nbsp; 02-575-7252</p>
                    <p>&nbsp; kantichp@tot.co.th</p>
                </div>
            </div>
        </div>
        <div class="container2">
            <div>
                <div class="detail2">
                    <h1>ศูนย์. 2</h1>
                    <p>ส่วนสอบทานติดตามแผนงานและโครงการ(สกง.)</p>
                    <div class="box">
                        <h5><b>&nbsp;&nbsp; รายชื่อติดต่อ :</b></h5>
                        <p>&nbsp; กฤษณา กุลสืบ</p>
                        <p>&nbsp; 02-575-7248</p>
                        <p>&nbsp; krisana@tot.co.th</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container3">
            <div class="detail3">
                <h1>ศูนย์. 3</h1>
                <p>ส่วนสอบทานติดตามแผนงานและโครงการ(สกง.)</p>
                <div class="box">
                    <h5><b>&nbsp;&nbsp; รายชื่อติดต่อ :</b></h5>
                    <p>&nbsp; เพ็ญนถา คำมณี</p>
                    <p>&nbsp; 02-575-7250</p>
                    <p>&nbsp; pennapa@tot.co.th</p>
                </div>
            </div>
        </div>
    </div>

</div>