.topPic{
    text-align: center;
    width:"800";
    height:"400";
    margin-bottom: 20px;
}

.container1{
    background-color: #E0EBF0;
    width: 300px;
    height: 330px;
    border-radius: 50px;
    margin-right: 5px;
}

.container2{
    background-color: #CEDEE8;
    width: 300px;
    height: 330px;
    border-radius: 50px;
    margin-right: 5px;
}

.container3{
    background-color: #E0EBF0;
    width: 300px;
    height:330px;
    border-radius: 50px;
    margin-right: 5px;
}

.detail1{
    margin-left: 30px;
    margin-top: 10px;
    text-align: justify;
}
.detail2{
    margin-left: 30px;
    margin-top: 10px;
}
.detail3{
    margin-left: 30px;
    margin-top: 10px;
}
.box{
    background-color: whitesmoke;
     width: 238px; 
     height: 160px;
    border-radius: 15px;
     /* text-align: center; */
     margin-left: 0px;
     box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
     padding-top: 5px;
}
