<div class="border1"></div>
<div style="text-align: center; border-radius: 10px; box-shadow: black; ">
    <img src='../../../assets/img/รายงานและวิเคราะห์.PNG' style="width: 100%;
    height: auto;
   max-width:1500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);" />
</div>
<br>
<div class="mb-5" style=" background-color: skyblue; border-radius: 20px;height: 150px;
box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);">
    <h5 class="col-12">งานวิเคราะห์และรายงานผลการดำเนินงานภาพรวมขององค์กร เป็นงาน..</h5>
</div>

<!-- 
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
    Tooltip with HTML
  </button>

<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
    Tooltip on bottom
  </button>
-->
<section class="text-center">
    <div class="row justify-content-around">


        <div class="col-xs-2">
            <div style="background-color: rgb(102, 102, 153); ; height: 250px; max-width: 300px; border-radius: 20px;">

                <h5 style=" background-color: whitesmoke; border: 5px solid rgb(102, 102, 153);border-radius: 10px;">
                    รายงานผลการดำเนินงานทางการเงิน
                    (Financial Highlights)
                </h5>
                <div class="ml-4">
                    <ul class="submenu">
                        <li>
                            <div class="col-8">
                                <a>
                                    <select name="xx" id="" class="dropdown-toggle">

                                        <option title="">รายเดือน(สะสม)</option>
                                        <option value="">ปี 2562</option>
                                        <option value="">ปี 2561</option>
                                        <option value="">ปี 2560</option>
                                        <option value="">ปี 2559</option>
                                    </select>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-xs-2">
            <div style="background-color: rgb(146, 208, 80); ; height: 250px; max-width: 300px; border-radius: 20px;">
                <h5 style="background-color: whitesmoke; border: 5px solid rgb(146, 208, 80);border-radius: 10px;">
                    รายงานผลการดำเนินงานทางการเงิน
                    (เสนอที่ประขุมระดับสูง
                    MM)
                </h5>
                <div class="ml-4">
                    <ul class="submenu">
                        <li>
                            <div class="col-8">
                                <a>
                                    <select name="xx" id="" class="dropdown-toggle">

                                        <option title="">รายเดือน(สะสม)</option>
                                        <option value="">ปี 2562</option>
                                        <option value="">ปี 2561</option>
                                        <option value="">ปี 2560</option>
                                        <option value="">ปี 2559</option>
                                    </select>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-xs-2">
            <div style="background-color: rgb(102, 153, 255); ; height: 250px; max-width: 300px; border-radius: 20px;">
                <h5 style="background-color: whitesmoke; border: 5px solid rgb(102, 153, 255);border-radius: 10px;">
                    อัตราส่วนทางการเงินที่สำคัญ</h5>
            </div>
        </div>


        <div class="col-xs-2">
            <div style="background-color: rgb(0, 153, 153); ; height: 250px; max-width: 300px; border-radius: 20px;">
                <h5 style="background-color: whitesmoke; border: 5px solid rgb(0, 153, 153);border-radius: 10px;">
                    รายงานผลการวิเคราะห์ทางการเงินภาพรวมเทียบกับอุตสาหกรรม
                </h5>
                <div class="ml-4">
                    <ul class="submenu">
                        <li>
                            <div class="col-8">
                                <a>
                                    <select name="xx" id="" class="dropdown-toggle">

                                        <option title="">ไตรมาส(สะสม)</option>
                                        <option value="">ปี 2562</option>
                                        <option value="">ปี 2561</option>
                                        <option value="">ปี 2560</option>
                                        <option value="">ปี 2559</option>
                                    </select>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-xs-2">
            <div style="background-color: rgb(139, 115, 120); ; height: 250px; max-width: 300px; border-radius: 20px;">
                <h5 style="background-color: whitesmoke; border: 5px solid rgb(139, 115, 120);border-radius: 10px;;">
                    การเงินน่ารู้ในการวิเคราะห์ผลการดำเนินงาน
                </h5>
            </div>
        </div>



    </div>
</section>
<div class="border1"></div>